* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.section {
    background-color: #999999;
    margin-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    background-color: #999999;
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    font-size: 2em;
}